.app-download {
  margin: auto;
  margin-top: 100px;
  font-size: max(3vw, 20px);
  text-align: center;
  font-weight: 500;
  color: #645858;
  cursor: pointer;
}

.app-download-platforms {
  display: flex;
  justify-content: center;
  gap: max(2vw, 10px);
  margin-top: 40px;
}

.app-download-platforms img {
  width: max(30vw, 120px);
  max-width: 180px;
  transition: 0.3s ease;
  cursor: pointer;
}

.app-download-platforms img:hover {
  transform: scale(1.05);
}
.app-download p {
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  animation: typeIn 7s steps(40) forwards;
}

@keyframes typeIn {
  from { width: 0; }
  to { width: 100%; }
}
/* Desktop hover */
.app-download-platforms img:hover {
  transform: scale(1.05);
  filter: drop-shadow(0 0 6px #6b6b67);
}

/* Mobile tap */
.app-download-platforms img:active {
  transform: scale(0.92);
}
