.explore-menu h1 {
  color: #262626;
  font-weight: 500;
}

.explore-menu-text {
  max-width: 70%;
  color: #808080;
  margin-bottom: 1.7rem;
  margin-top: 5px;
}

.explore-menu-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 30px;
  text-align: center;
  margin: 20px 0px;
  overflow-x: scroll;
  padding-bottom: 10px; 
}


.explore-menu-list::-webkit-scrollbar {
  display: none;
}


.explore-menu-list-item img {
  width: 7.5vw;
  min-width: 80px;
  cursor: pointer;
  border-radius: 50%;
  transition: transform 0.2s ease;
  box-sizing: border-box;     
}
.explore-menu-list-item img:hover {
  transform: scale(1.09); 
}

.explore-menu-list-item p{
    margin-top: 10px;
    font-size: 0.9rem;
    color: #747477;
    cursor: pointer;
    font-size: max(1.4vw, 16px);
}


.explore-menu hr {  /* horizontal rule styling */
  border: none;
  height: 2px;
  background-color: #e0e0e0;
  margin: 10px 0;
}

.explore-menu h1,
.explore-menu-text {
  opacity: 0;
  animation: fadeUp 0.8s ease forwards;
}

.explore-menu-text {
  animation-delay: 1s; /* paragraph starts after h1 */
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(18px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.explore-menu-list-item .active {
  border: 4px solid rgb(204, 8, 8);
  padding: 2px;
}

@media (max-width: 1050px) {
  .explore-menu-text {
    min-width: 100%;
    font-size: 14px;
  }
}