.cart {
  margin-top: 100px;
}

.cart-items-title {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
  align-items: center;
  color: grey;
  font-size: max(1vw, 12px);
}

.cart-items-item {
 
  align-items: center;
  margin: 10px 0;
  color: black;
}

.cart-items-item img {
  width: 50px;
  height: 50px;
  object-fit: cover;
}


.cart hr{
    border: none;
    height: 1px;
    background-color: #e0e0e0;
    margin: 10px 0;
}

.cart-items-item .cross {
  cursor: pointer;
  color: red;
  font-weight: bold;
}